# Segmenting and Clustering Neighborhoods in Toronto - Part2

mporting all needed library

In [1]:
import pandas as pd
import numpy as np
import geocoder # import geocoder

load CSV file from first part

In [10]:
df = pd.read_csv('df_final.csv')
df.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

Use the Geocoder package to update dataframe with Lat and Long:

In [40]:
def get_lat_long(postcode):
    # initialize your variable to None
    lat_lng_coords = None

    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postcode))
        lat_lng_coords = g.latlng

    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    return latitude, longitude

In [43]:
df['Latitude'], df['Longitude'] = zip(*df['Postcode'].apply(get_lat_long))

In [44]:
df.head(10)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.811525,-79.195517
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.785730,-79.158750
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.765690,-79.175256
3,M1G,Scarborough,Woburn,43.768359,-79.217590
4,M1H,Scarborough,Cedarbrae,43.769688,-79.239440
5,M1J,Scarborough,Scarborough Village,43.743125,-79.231750
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.726245,-79.263670
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.713133,-79.285055
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.723575,-79.234976
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.696665,-79.260163

In [45]:
df.tail(10)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
93,M9A,Etobicoke,Islington Avenue,43.662242,-79.528379
94,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ...",43.649692,-79.553945
95,M9C,Etobicoke,"Bloordale Gardens, Eringate, Markland Wood, Ol...",43.648573,-79.578250
96,M9L,North York,Humber Summit,43.759500,-79.556852
97,M9M,North York,"Emery, Humberlea",43.733760,-79.537522
98,M9N,York,Weston,43.704855,-79.517552
99,M9P,Etobicoke,Westmount,43.696300,-79.530399
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.686915,-79.557276
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.743205,-79.584701
102,M9W,Etobicoke,Northwest,43.711740,-79.579181

Save the data into CSV file

In [46]:
df.to_csv('df_Lat_Long.csv',index=False)